.section-8 {
  background-color: black;
  padding: 80px 0;
  max-width: 1440px;
}

.section-8 > h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "nunito sans";
}

.accordion {
  color: white;
  font-size: 18px;
  font-family: "work sans";
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 65%;
  padding: 5px 30px;
  border-style: none;
  border-radius: 8px;
  background-color: #262626;
  overflow: hidden;
}

.accordion-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 20px 0;
  font-size: 23px;
}

.accordion-label p{
  font-size: 13.5px;
}

.accordion-label img {
  transform: rotateY(-50%);
  transition: transform 0.4s;
}

.accordion-label:active {
  color: #eafa35;
}

.content {
  font-size: 14px;
  line-height: 1.5;
  display: none;
}

.accordion-input {
  display: none;
}

.accordion-input:checked ~ .content {
  display: block;
}

.accordion-input:checked ~ .accordion-label img {
  transform: translateY(-50%) rotate(0.5turn);
}

@media screen and (max-width: 767px) {
  .section-8 {
    padding: 80px 20px;
  }

  .accordion {
    width: 100%;
  }

  .accordion-label {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1028px) {
  .section-8 {
    padding: 80px 20px;
  }

  .accordion {
    width: 100%;
  }
}
